In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel(r"C:\Users\moham\Desktop\DataScienceCircle\sales.xlsx")

In [3]:
df.head()

,Unnamed: 0,event_id,primary_act_id,secondary_act_id,purch_party_lkup_id,event_name,primary_act_name,secondary_act_name,major_cat_name,minor_cat_name,...,edu_1st_indv_val,edu_2nd_indv_val,adults_in_hh_num,married_ind,child_present_ind,home_owner_ind,occpn_val,occpn_1st_val,occpn_2nd_val,dist_to_ven
0,1,abcaf1adb99a935fc661,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7dfa56dd7d5956b17587,Xfinity Center Mansfield Premier Parking: Flor...,XFINITY Center Mansfield Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,6c56d7f08c95f2aa453c,1a3e9aecd0617706a794,f53529c5679ea6ca5a48,4f9e6fc637eaf7b736c2,Gorge Camping - dave matthews band - sept 3-7,Gorge Camping,Dave Matthews Band,MISC,CAMPING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0
2,3,c7ab4524a121f9d687d2,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c2545703bd527a7144d,Dodge Theatre Adams Street Parking - benise,Parking Event,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,394cb493f893be9b9ed1,b1ccea01ad6ef8522796,b85143bf51323b72e53c,527d6b1eaffc69ddd882,Gexa Energy Pavilion Vip Parking : kid rock wi...,Gexa Energy Pavilion VIP Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,55b5f67e618557929f48,91c03a34b562436efa3c,b85143bf51323b72e53c,8bd62c394a35213bdf52,Premier Parking - motley crue,White River Amphitheatre Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(5000, 46)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 46 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5000 non-null   int64
 1   event_id                5000 non-null   object
 2   primary_act_id          5000 non-null   object
 3   secondary_act_id        5000 non-null   object
 4   purch_party_lkup_id     5000 non-null   object
 5   event_name              5000 non-null   object
 6   primary_act_name        5000 non-null   object
 7   secondary_act_name      1586 non-null   object
 8   major_cat_name          5000 non-null   object
 9   minor_cat_name          5000 non-null   object
 10  la_event_type_cat       5000 non-null   object
 11  event_disp_name         5000 non-null   object
 12  ticket_text             5000 non-null   object
 13  tickets_purchased_qty   5000 non-null   int64
 14  trans_face_val_amt      5000 non-null   float64
 15  delivery_type_cd        5000 non-null   object
 16  event_date_time         5000 non-null   datetime64[ns]
 17  event_dt                5000 non-null   datetime64[ns]
 18  presale_dt              2108 non-null   datetime64[ns]
 19  onsale_dt               4899 non-null   datetime64[ns]
 20  sales_ord_create_dttm   4996 non-null   datetime64[ns]
 21  sales_ord_tran_dt       5000 non-null   datetime64[ns]
 22  print_dt                4576 non-null   datetime64[ns]
 23  timezn_nm               5000 non-null   object
 24  venue_city              5000 non-null   object
 25  venue_state             5000 non-null   object
 26  venue_postal_cd_sgmt_1  5000 non-null   object
 27  sales_platform_cd       2578 non-null   object
 28  print_flg               5000 non-null   object
 29  la_valid_tkt_event_flg  5000 non-null   object
 30  fin_mkt_nm              5000 non-null   object
 31  web_session_cookie_val  5000 non-null   object
 32  gndr_cd                 177 non-null    object
 33  age_yr                  168 non-null    float64
 34  income_amt              154 non-null    float64
 35  edu_val                 139 non-null    object
 36  edu_1st_indv_val        112 non-null    object
 37  edu_2nd_indv_val        86 non-null     object
 38  adults_in_hh_num        176 non-null    float64
 39  married_ind             157 non-null    float64
 40  child_present_ind       130 non-null    float64
 41  home_owner_ind          138 non-null    float64
 42  occpn_val               79 non-null     object
 43  occpn_1st_val           77 non-null     object
 44  occpn_2nd_val           63 non-null     object
 45  dist_to_ven             323 non-null    float64
dtypes: datetime64[ns](7), float64(8), int64(2), object(29)
memory usage: 1.8+ MB

In [6]:
df.drop_duplicates()

,Unnamed: 0,event_id,primary_act_id,secondary_act_id,purch_party_lkup_id,event_name,primary_act_name,secondary_act_name,major_cat_name,minor_cat_name,...,edu_1st_indv_val,edu_2nd_indv_val,adults_in_hh_num,married_ind,child_present_ind,home_owner_ind,occpn_val,occpn_1st_val,occpn_2nd_val,dist_to_ven
0,1,abcaf1adb99a935fc661,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7dfa56dd7d5956b17587,Xfinity Center Mansfield Premier Parking: Flor...,XFINITY Center Mansfield Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,6c56d7f08c95f2aa453c,1a3e9aecd0617706a794,f53529c5679ea6ca5a48,4f9e6fc637eaf7b736c2,Gorge Camping - dave matthews band - sept 3-7,Gorge Camping,Dave Matthews Band,MISC,CAMPING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0
2,3,c7ab4524a121f9d687d2,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c2545703bd527a7144d,Dodge Theatre Adams Street Parking - benise,Parking Event,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,394cb493f893be9b9ed1,b1ccea01ad6ef8522796,b85143bf51323b72e53c,527d6b1eaffc69ddd882,Gexa Energy Pavilion Vip Parking : kid rock wi...,Gexa Energy Pavilion VIP Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,55b5f67e618557929f48,91c03a34b562436efa3c,b85143bf51323b72e53c,8bd62c394a35213bdf52,Premier Parking - motley crue,White River Amphitheatre Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,79372bc1e7e14dfd3f82,a14232befff04be1e2f3,b85143bf51323b72e53c,8a03312852bd2a785f2c,Premier Parking - eric clapton - pnc bank arts...,PNC Bank Arts Center Holmdel Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4996,4997,f3b0de6a19e2a16e4fb1,83e5715f0ed3e13e6398,b2b558b1fe3efad19edb,f032fe520e8313bef880,Sublime With Rome / rebelution,Sublime with Rome,Rebelution,CONCERTS,ROCK/POP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4997,4998,7c9e2f6847a2dbe4ebff,9ea8ab40f58d18305ac8,b85143bf51323b72e53c,f270f4daa5c3dd61a8c5,Premier Parking : journey with heart and cheap...,Sleep Train Amphitheatre Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4998,4999,7af1ccd9a3ec3b6cef1c,e274b5c11a2a63e00141,b85143bf51323b72e53c,55a61a5e0ceb8beee897,Premier Parking: Rascal Flatts,Umb Bank Pavilion St. Louis Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4999,5000,802f4bf8026e38c2acf2,24c326bd80bd2c8c9e17,b22d584a2132b33e23e0,55e6e08d4b712243944d,Dropkick Murphys,Dropkick Murphys,Tiger Army,CONCERTS,ALTERNATIVE ROCK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 46 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5000 non-null   int64
 1   event_id                5000 non-null   object
 2   primary_act_id          5000 non-null   object
 3   secondary_act_id        5000 non-null   object
 4   purch_party_lkup_id     5000 non-null   object
 5   event_name              5000 non-null   object
 6   primary_act_name        5000 non-null   object
 7   secondary_act_name      1586 non-null   object
 8   major_cat_name          5000 non-null   object
 9   minor_cat_name          5000 non-null   object
 10  la_event_type_cat       5000 non-null   object
 11  event_disp_name         5000 non-null   object
 12  ticket_text             5000 non-null   object
 13  tickets_purchased_qty   5000 non-null   int64
 14  trans_face_val_amt      5000 non-null   float64
 15  delivery_type_cd        5000 non-null   object
 16  event_date_time         5000 non-null   datetime64[ns]
 17  event_dt                5000 non-null   datetime64[ns]
 18  presale_dt              2108 non-null   datetime64[ns]
 19  onsale_dt               4899 non-null   datetime64[ns]
 20  sales_ord_create_dttm   4996 non-null   datetime64[ns]
 21  sales_ord_tran_dt       5000 non-null   datetime64[ns]
 22  print_dt                4576 non-null   datetime64[ns]
 23  timezn_nm               5000 non-null   object
 24  venue_city              5000 non-null   object
 25  venue_state             5000 non-null   object
 26  venue_postal_cd_sgmt_1  5000 non-null   object
 27  sales_platform_cd       2578 non-null   object
 28  print_flg               5000 non-null   object
 29  la_valid_tkt_event_flg  5000 non-null   object
 30  fin_mkt_nm              5000 non-null   object
 31  web_session_cookie_val  5000 non-null   object
 32  gndr_cd                 177 non-null    object
 33  age_yr                  168 non-null    float64
 34  income_amt              154 non-null    float64
 35  edu_val                 139 non-null    object
 36  edu_1st_indv_val        112 non-null    object
 37  edu_2nd_indv_val        86 non-null     object
 38  adults_in_hh_num        176 non-null    float64
 39  married_ind             157 non-null    float64
 40  child_present_ind       130 non-null    float64
 41  home_owner_ind          138 non-null    float64
 42  occpn_val               79 non-null     object
 43  occpn_1st_val           77 non-null     object
 44  occpn_2nd_val           63 non-null     object
 45  dist_to_ven             323 non-null    float64
dtypes: datetime64[ns](7), float64(8), int64(2), object(29)
memory usage: 1.8+ MB

In [8]:
df.isnull().sum()

Unnamed: 0                   0
event_id                     0
primary_act_id               0
secondary_act_id             0
purch_party_lkup_id          0
event_name                   0
primary_act_name             0
secondary_act_name        3414
major_cat_name               0
minor_cat_name               0
la_event_type_cat            0
event_disp_name              0
ticket_text                  0
tickets_purchased_qty        0
trans_face_val_amt           0
delivery_type_cd             0
event_date_time              0
event_dt                     0
presale_dt                2892
onsale_dt                  101
sales_ord_create_dttm        4
sales_ord_tran_dt            0
print_dt                   424
timezn_nm                    0
venue_city                   0
venue_state                  0
venue_postal_cd_sgmt_1       0
sales_platform_cd         2422
print_flg                    0
la_valid_tkt_event_flg       0
fin_mkt_nm                   0
web_session_cookie_val       0
gndr_cd                   4823
age_yr                    4832
income_amt                4846
edu_val                   4861
edu_1st_indv_val          4888
edu_2nd_indv_val          4914
adults_in_hh_num          4824
married_ind               4843
child_present_ind         4870
home_owner_ind            4862
occpn_val                 4921
occpn_1st_val             4923
occpn_2nd_val             4937
dist_to_ven               4677
dtype: int64

In [9]:
#we are going to get red of all those columns which have a huge number of missing values
df.drop(['secondary_act_name','presale_dt','sales_platform_cd','gndr_cd','age_yr','income_amt','edu_val','edu_1st_indv_val',
        'edu_2nd_indv_val','adults_in_hh_num','married_ind','occpn_val','occpn_1st_val','occpn_2nd_val','dist_to_ven'],axis=1,inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5000 non-null   int64
 1   event_id                5000 non-null   object
 2   primary_act_id          5000 non-null   object
 3   secondary_act_id        5000 non-null   object
 4   purch_party_lkup_id     5000 non-null   object
 5   event_name              5000 non-null   object
 6   primary_act_name        5000 non-null   object
 7   major_cat_name          5000 non-null   object
 8   minor_cat_name          5000 non-null   object
 9   la_event_type_cat       5000 non-null   object
 10  event_disp_name         5000 non-null   object
 11  ticket_text             5000 non-null   object
 12  tickets_purchased_qty   5000 non-null   int64
 13  trans_face_val_amt      5000 non-null   float64
 14  delivery_type_cd        5000 non-null   object
 15  event_date_time         5000 non-null   datetime64[ns]
 16  event_dt                5000 non-null   datetime64[ns]
 17  onsale_dt               4899 non-null   datetime64[ns]
 18  sales_ord_create_dttm   4996 non-null   datetime64[ns]
 19  sales_ord_tran_dt       5000 non-null   datetime64[ns]
 20  print_dt                4576 non-null   datetime64[ns]
 21  timezn_nm               5000 non-null   object
 22  venue_city              5000 non-null   object
 23  venue_state             5000 non-null   object
 24  venue_postal_cd_sgmt_1  5000 non-null   object
 25  print_flg               5000 non-null   object
 26  la_valid_tkt_event_flg  5000 non-null   object
 27  fin_mkt_nm              5000 non-null   object
 28  web_session_cookie_val  5000 non-null   object
 29  child_present_ind       130 non-null    float64
 30  home_owner_ind          138 non-null    float64
dtypes: datetime64[ns](6), float64(3), int64(2), object(20)
memory usage: 1.2+ MB

In [11]:
df['event_dt']

0      2015-09-12
1      2009-09-04
2      2006-04-21
3      2011-09-02
4      2005-07-30
          ...
4995   2008-05-22
4996   2015-07-16
4997   2008-09-26
4998   2006-06-24
4999   2016-02-19
Name: event_dt, Length: 5000, dtype: datetime64[ns]

In [12]:
df.isnull().sum()

Unnamed: 0                   0
event_id                     0
primary_act_id               0
secondary_act_id             0
purch_party_lkup_id          0
event_name                   0
primary_act_name             0
major_cat_name               0
minor_cat_name               0
la_event_type_cat            0
event_disp_name              0
ticket_text                  0
tickets_purchased_qty        0
trans_face_val_amt           0
delivery_type_cd             0
event_date_time              0
event_dt                     0
onsale_dt                  101
sales_ord_create_dttm        4
sales_ord_tran_dt            0
print_dt                   424
timezn_nm                    0
venue_city                   0
venue_state                  0
venue_postal_cd_sgmt_1       0
print_flg                    0
la_valid_tkt_event_flg       0
fin_mkt_nm                   0
web_session_cookie_val       0
child_present_ind         4870
home_owner_ind            4862
dtype: int64

In [13]:
df.drop(['child_present_ind','home_owner_ind'],axis=1,inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5000 non-null   int64
 1   event_id                5000 non-null   object
 2   primary_act_id          5000 non-null   object
 3   secondary_act_id        5000 non-null   object
 4   purch_party_lkup_id     5000 non-null   object
 5   event_name              5000 non-null   object
 6   primary_act_name        5000 non-null   object
 7   major_cat_name          5000 non-null   object
 8   minor_cat_name          5000 non-null   object
 9   la_event_type_cat       5000 non-null   object
 10  event_disp_name         5000 non-null   object
 11  ticket_text             5000 non-null   object
 12  tickets_purchased_qty   5000 non-null   int64
 13  trans_face_val_amt      5000 non-null   float64
 14  delivery_type_cd        5000 non-null   object
 15  event_date_time         5000 non-null   datetime64[ns]
 16  event_dt                5000 non-null   datetime64[ns]
 17  onsale_dt               4899 non-null   datetime64[ns]
 18  sales_ord_create_dttm   4996 non-null   datetime64[ns]
 19  sales_ord_tran_dt       5000 non-null   datetime64[ns]
 20  print_dt                4576 non-null   datetime64[ns]
 21  timezn_nm               5000 non-null   object
 22  venue_city              5000 non-null   object
 23  venue_state             5000 non-null   object
 24  venue_postal_cd_sgmt_1  5000 non-null   object
 25  print_flg               5000 non-null   object
 26  la_valid_tkt_event_flg  5000 non-null   object
 27  fin_mkt_nm              5000 non-null   object
 28  web_session_cookie_val  5000 non-null   object
dtypes: datetime64[ns](6), float64(1), int64(2), object(20)
memory usage: 1.1+ MB

In [15]:
df.isnull().sum()

Unnamed: 0                  0
event_id                    0
primary_act_id              0
secondary_act_id            0
purch_party_lkup_id         0
event_name                  0
primary_act_name            0
major_cat_name              0
minor_cat_name              0
la_event_type_cat           0
event_disp_name             0
ticket_text                 0
tickets_purchased_qty       0
trans_face_val_amt          0
delivery_type_cd            0
event_date_time             0
event_dt                    0
onsale_dt                 101
sales_ord_create_dttm       4
sales_ord_tran_dt           0
print_dt                  424
timezn_nm                   0
venue_city                  0
venue_state                 0
venue_postal_cd_sgmt_1      0
print_flg                   0
la_valid_tkt_event_flg      0
fin_mkt_nm                  0
web_session_cookie_val      0
dtype: int64

In [16]:
df.dropna(inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4474 entries, 0 to 4999
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              4474 non-null   int64
 1   event_id                4474 non-null   object
 2   primary_act_id          4474 non-null   object
 3   secondary_act_id        4474 non-null   object
 4   purch_party_lkup_id     4474 non-null   object
 5   event_name              4474 non-null   object
 6   primary_act_name        4474 non-null   object
 7   major_cat_name          4474 non-null   object
 8   minor_cat_name          4474 non-null   object
 9   la_event_type_cat       4474 non-null   object
 10  event_disp_name         4474 non-null   object
 11  ticket_text             4474 non-null   object
 12  tickets_purchased_qty   4474 non-null   int64
 13  trans_face_val_amt      4474 non-null   float64
 14  delivery_type_cd        4474 non-null   object
 15  event_date_time         4474 non-null   datetime64[ns]
 16  event_dt                4474 non-null   datetime64[ns]
 17  onsale_dt               4474 non-null   datetime64[ns]
 18  sales_ord_create_dttm   4474 non-null   datetime64[ns]
 19  sales_ord_tran_dt       4474 non-null   datetime64[ns]
 20  print_dt                4474 non-null   datetime64[ns]
 21  timezn_nm               4474 non-null   object
 22  venue_city              4474 non-null   object
 23  venue_state             4474 non-null   object
 24  venue_postal_cd_sgmt_1  4474 non-null   object
 25  print_flg               4474 non-null   object
 26  la_valid_tkt_event_flg  4474 non-null   object
 27  fin_mkt_nm              4474 non-null   object
 28  web_session_cookie_val  4474 non-null   object
dtypes: datetime64[ns](6), float64(1), int64(2), object(20)
memory usage: 1.0+ MB

In [18]:
df.head()

,Unnamed: 0,event_id,primary_act_id,secondary_act_id,purch_party_lkup_id,event_name,primary_act_name,major_cat_name,minor_cat_name,la_event_type_cat,...,sales_ord_tran_dt,print_dt,timezn_nm,venue_city,venue_state,venue_postal_cd_sgmt_1,print_flg,la_valid_tkt_event_flg,fin_mkt_nm,web_session_cookie_val
0,1,abcaf1adb99a935fc661,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7dfa56dd7d5956b17587,Xfinity Center Mansfield Premier Parking: Flor...,XFINITY Center Mansfield Premier Parking,MISC,PARKING,PARKING,...,2015-09-11,2015-09-12,EST,MANSFIELD,MASSACHUSETTS,2048,T,N,Boston,7dfa56dd7d5956b17587
1,2,6c56d7f08c95f2aa453c,1a3e9aecd0617706a794,f53529c5679ea6ca5a48,4f9e6fc637eaf7b736c2,Gorge Camping - dave matthews band - sept 3-7,Gorge Camping,MISC,CAMPING,INVALID,...,2009-07-05,2009-09-01,PST,QUINCY,WASHINGTON,98848,T,N,Seattle,4f9e6fc637eaf7b736c2
2,3,c7ab4524a121f9d687d2,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c2545703bd527a7144d,Dodge Theatre Adams Street Parking - benise,Parking Event,MISC,PARKING,PARKING,...,2006-04-05,2006-04-05,MST,PHOENIX,ARIZONA,85003,T,N,Arizona,6c2545703bd527a7144d
3,4,394cb493f893be9b9ed1,b1ccea01ad6ef8522796,b85143bf51323b72e53c,527d6b1eaffc69ddd882,Gexa Energy Pavilion Vip Parking : kid rock wi...,Gexa Energy Pavilion VIP Parking,MISC,PARKING,PARKING,...,2011-07-01,2011-07-06,CST,DALLAS,TEXAS,75210,T,N,Dallas,527d6b1eaffc69ddd882
4,5,55b5f67e618557929f48,91c03a34b562436efa3c,b85143bf51323b72e53c,8bd62c394a35213bdf52,Premier Parking - motley crue,White River Amphitheatre Premier Parking,MISC,PARKING,PARKING,...,2005-06-18,2005-06-28,PST,AUBURN,WASHINGTON,98092,T,N,Seattle,8bd62c394a35213bdf52

In [19]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [20]:
df.head(20)

,event_id,primary_act_id,secondary_act_id,purch_party_lkup_id,event_name,primary_act_name,major_cat_name,minor_cat_name,la_event_type_cat,event_disp_name,...,sales_ord_tran_dt,print_dt,timezn_nm,venue_city,venue_state,venue_postal_cd_sgmt_1,print_flg,la_valid_tkt_event_flg,fin_mkt_nm,web_session_cookie_val
0,abcaf1adb99a935fc661,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7dfa56dd7d5956b17587,Xfinity Center Mansfield Premier Parking: Flor...,XFINITY Center Mansfield Premier Parking,MISC,PARKING,PARKING,Xfinity Center Mansfield Premier Parking: Flor...,...,2015-09-11,2015-09-12,EST,MANSFIELD,MASSACHUSETTS,2048,T,N,Boston,7dfa56dd7d5956b17587
1,6c56d7f08c95f2aa453c,1a3e9aecd0617706a794,f53529c5679ea6ca5a48,4f9e6fc637eaf7b736c2,Gorge Camping - dave matthews band - sept 3-7,Gorge Camping,MISC,CAMPING,INVALID,Gorge Camping - dave matthews band - sept 3-7,...,2009-07-05,2009-09-01,PST,QUINCY,WASHINGTON,98848,T,N,Seattle,4f9e6fc637eaf7b736c2
2,c7ab4524a121f9d687d2,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c2545703bd527a7144d,Dodge Theatre Adams Street Parking - benise,Parking Event,MISC,PARKING,PARKING,Dodge Theatre Adams Street Parking - benise,...,2006-04-05,2006-04-05,MST,PHOENIX,ARIZONA,85003,T,N,Arizona,6c2545703bd527a7144d
3,394cb493f893be9b9ed1,b1ccea01ad6ef8522796,b85143bf51323b72e53c,527d6b1eaffc69ddd882,Gexa Energy Pavilion Vip Parking : kid rock wi...,Gexa Energy Pavilion VIP Parking,MISC,PARKING,PARKING,Gexa Energy Pavilion Vip Parking : kid rock wi...,...,2011-07-01,2011-07-06,CST,DALLAS,TEXAS,75210,T,N,Dallas,527d6b1eaffc69ddd882
4,55b5f67e618557929f48,91c03a34b562436efa3c,b85143bf51323b72e53c,8bd62c394a35213bdf52,Premier Parking - motley crue,White River Amphitheatre Premier Parking,MISC,PARKING,PARKING,Premier Parking - motley crue,...,2005-06-18,2005-06-28,PST,AUBURN,WASHINGTON,98092,T,N,Seattle,8bd62c394a35213bdf52
5,4f10fd8b9f550352bd56,ac4b847b3fde66f2117e,63814f3d63317f1b56c4,3b3a628f83135acd0676,Fast Lane Access: Journey,Fast Lane Access,MISC,SPECIAL ENTRY (UPSELL),UPSELL,Fast Lane Access: Journey,...,2012-07-21,2012-07-21,PST,SAN BERNARDINO,CALIFORNIA,92407,T,N,Los Angeles,3b3a628f83135acd0676
6,105ea9ee10065b54b0df,a14232befff04be1e2f3,b85143bf51323b72e53c,14af02b72584fa823f85,Phil Lesh & friends-pnc bank arts center holmd...,PNC Bank Arts Center Holmdel Premier Parking,MISC,PARKING,PARKING,Phil Lesh & friends-pnc bank arts center holmd...,...,2006-06-16,2006-06-16,EST,HOLMDEL,NEW JERSEY,7733,T,N,New York,14af02b72584fa823f85
7,593b910d17913d7101cb,91c03a34b562436efa3c,b85143bf51323b72e53c,c7878d51bb2d62d4705c,Star Parking Presented By Hertz: Train - whit...,White River Amphitheatre Premier Parking,MISC,PARKING,PARKING,Star Parking Presented By Hertz: Train - whit...,...,2013-02-27,2013-03-04,PST,AUBURN,WASHINGTON,98092,T,N,Seattle,c7878d51bb2d62d4705c
8,0fb4e7152e09a40ffedd,0efaba7ce3f0d7466b42,f66a1cf484a8cd868fb4,ec216826c73d9a3f6f9c,Brad Paisley: Hertz Premier Parking,Hertz Premier Parking,MISC,PARKING,PARKING,Brad Paisley: Hertz Premier Parking,...,2012-08-20,2012-08-20,MST,PHOENIX,ARIZONA,85035,T,N,Arizona,ec216826c73d9a3f6f9c
9,93fce8094d89e0a94aac,f6425a3223e73ea6de5a,d8c54467eb14c7dd1476,97a3efbab1bfcc0a6093,Shlohmo,Shlohmo,CONCERTS,DANCE MUSIC/DANCE,CONCERTS,Shlohmo,...,2015-04-27,2015-04-30,PST,SAN FRANCISCO,CALIFORNIA,94115,T,Y,N. California,97a3efbab1bfcc0a6093
10,402bebb1d89c4024047a,8f53c0b7cd7810a1829d,b85143bf51323b72e53c,4e4d22890318dae96e6d,Cricket Pavilion Premier Parking: Earth Wind A...,Cricket Pavilion Phx. Premier Parking,MISC,PARKING,PARKING,Cricket Pavilion Premier Parking: Earth Wind A...,...,2006-08-06,2006-08-06,MST,PHOENIX,ARIZONA,85035,T,N,Arizona,4e4d22890318dae96e6d
11,6adcf8b2dc8a761b22b7,094156ef72361776c8ee,b148517112c348d23c90,aacf83f268bd967f98e7,Blake Shelton: Presented By Gildan,Blake Shelton,CONCERTS,COUNTRY,CONCERTS,Blake Shelton: Presented By Gildan,...,2015-12-09,2015-12-09,EST,AUBURN HILLS,MICHIGAN,48326,T,Y,Michigan,aacf83f268bd967f98e7
12,d3c8f5fb844690fb5af6,732d4f52a3ac2b7de8ef,b85143bf51323b72e53c,59eb1bf6c887ccc26d17,Skip The Line: Pierce The Line/all Time Low,Live Nation C-T Upsells - Special Access,MISC,SPECIAL ENTRY (UPSELL),UPSELL,Skip The Line: Pierce The Line/all Time Low,...,2013-01-28,2013-01-28,CST,HOUSTON,TEXAS,77002,T,N,Houston,59eb1bf6c887ccc26d17
13,5c7d36b783905ba488f4,34ad0e9254b8f7d1cbe0,b85143bf51323b72e53c,9efc747b02e3eea0cd89,Tabernacle Parking: Chris Botti,Tabernacle Parking,MISC,PARKING,PARKING,Tabernacle Parking: Chris Botti,...,2006-12-03,2006-12-06,EST,ATLANTA,GEORGIA,30303,T,N,Atlanta,9efc747b02e3eea0cd89
14,e68754d15ef2b8694b26,6e3df9919c998817e1b1,b85143bf51323b72e53c,6ad4972b327c8a7b3fc9,Premier Parking: Aerosmith,Virginia Beach Amphitheater VIP Parking,MISC,PARKING,PARKING,Premier Parking: Aerosmith,...,2006-09-19,2006-09-19,EST,VIRGINIA BEACH,VIRGINIA,23456,T,N,Virginia,6ad4972b327c8a7b3fc9
15,afd7dbe7675fc5480a0c,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,ebee63b01e98b720aebc,Premier Parking: Toby Keith,Parking Event,MISC,PARKING,PARKING,Premier Parking: Toby Keith,...,2008-04-05,2008-04-10,EST,TAMPA,FLORIDA,33610,T,N,Tampa,ebee63b01e98b720aebc
16,e6a1bc0620dc1fb45b6d,7cb02562bcb9387cbd13,b85143bf51323b72e53c,0782b2074b13d4bd4756,Lindsey Stirling: The Music Box Tour,Lindsey Stirling,CONCERTS,ROCK/POP,CONCERTS,Lindsey Stirling: The Music Box Tour,...,2015-06-01,2015-06-05,CST,CLEVELAND,OHIO,44113,T,Y,Cleveland,0782b2074b13d4bd4756
17,8bc575c22b944a6715d0,43f0436b905bfa7c2eec,b85143bf51323b72e53c,f83bca5fa2608f506778,Premier Parking : rascal flatts,XFINITY Center Mansfield Premier Parking,MISC,PARKING,PARKING,Premier Parking : rascal flatts,...,2008-05-16,2008-05-22,EST,MANSFIELD,MASSACHUSETTS,2048,T,N,Boston,f83bca5fa2608f506778
18,5777fc7899ca8f4ef03b,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c93aa49eccb7c97d895,Dodge Theatre Adams Street Parking - bb king,Parking Event,MISC,PARKING,PARKING,Dodge Theatre Adams Street Parking - bb king,...,2006-11-02,2006-11-06,MST,PHOENIX,ARIZONA,85003,T,N,Arizona,6c93aa49eccb7c97d895
19,b1574cb6bfd591a98572,d769ab09a96be5a0b316,b85143bf51323b72e53c,85188c1c9d49ba2f45fd,Verizon Wireless Amphitheatre Vip Parking: Zac...,Verizon Wireless Amph. Charlotte Premier Parking,MISC,PARKING,PARKING,Verizon Wireless Amphitheatre Vip Parking: Zac...,...,2010-07-30,1900-01-01,EST,CHARLOTTE,NORTH CAROLINA,28262,F,N,Charlotte,85188c1c9d49ba2f45fd

In [21]:
df.columns

Index(['event_id', 'primary_act_id', 'secondary_act_id', 'purch_party_lkup_id',
       'event_name', 'primary_act_name', 'major_cat_name', 'minor_cat_name',
       'la_event_type_cat', 'event_disp_name', 'ticket_text',
       'tickets_purchased_qty', 'trans_face_val_amt', 'delivery_type_cd',
       'event_date_time', 'event_dt', 'onsale_dt', 'sales_ord_create_dttm',
       'sales_ord_tran_dt', 'print_dt', 'timezn_nm', 'venue_city',
       'venue_state', 'venue_postal_cd_sgmt_1', 'print_flg',
       'la_valid_tkt_event_flg', 'fin_mkt_nm', 'web_session_cookie_val'],
      dtype='object')

In [22]:
df.loc[:,'event_date_time':'print_dt']

,event_date_time,event_dt,onsale_dt,sales_ord_create_dttm,sales_ord_tran_dt,print_dt
0,2015-09-12 23:30:00,2015-09-12,2015-05-15,2015-09-11 18:17:45,2015-09-11,2015-09-12
1,2009-09-05 01:00:00,2009-09-04,2009-03-13,2009-07-06 00:00:00,2009-07-05,2009-09-01
2,2006-04-22 01:30:00,2006-04-21,2006-02-25,2006-04-05 00:00:00,2006-04-05,2006-04-05
3,2011-09-03 00:00:00,2011-09-02,2011-04-22,2011-07-01 17:38:50,2011-07-01,2011-07-06
4,2005-07-31 01:00:00,2005-07-30,2005-03-04,2005-06-18 00:00:00,2005-06-18,2005-06-28
...,...,...,...,...,...,...
4995,2008-05-22 23:30:00,2008-05-22,2008-03-10,2008-03-10 00:00:00,2008-03-10,2008-03-15
4996,2015-07-17 05:00:00,2015-07-16,2015-04-20,2015-07-14 16:02:00,2015-07-14,2015-07-15
4997,2008-09-27 02:00:00,2008-09-26,2008-05-17,2008-05-18 00:00:00,2008-05-27,2008-05-29
4998,2006-06-25 01:00:00,2006-06-24,2006-05-06,2006-05-06 00:00:00,2006-05-06,2006-05-10
4999,2016-02-20 01:30:00,2016-02-19,2015-11-27,2016-02-18 17:11:50,2016-02-18,2016-02-18

In [23]:
df['Event Date_print_dt'] = [d.date() for d in df['event_date_time']]
df['Event Time'] = [d.time() for d in df['event_date_time']]

In [24]:
df.drop(['event_date_time','print_dt'],axis=1,inplace=True)

In [25]:
df['sales Creation Date'] = [d.date() for d in df['sales_ord_create_dttm']]
df['sales Creation Time'] = [d.time() for d in df['sales_ord_create_dttm']]

In [26]:
df.drop(['sales_ord_create_dttm','sales_ord_tran_dt','event_dt','sales_ord_tran_dt'],axis=1,inplace=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4474 entries, 0 to 4999
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event_id                4474 non-null   object
 1   primary_act_id          4474 non-null   object
 2   secondary_act_id        4474 non-null   object
 3   purch_party_lkup_id     4474 non-null   object
 4   event_name              4474 non-null   object
 5   primary_act_name        4474 non-null   object
 6   major_cat_name          4474 non-null   object
 7   minor_cat_name          4474 non-null   object
 8   la_event_type_cat       4474 non-null   object
 9   event_disp_name         4474 non-null   object
 10  ticket_text             4474 non-null   object
 11  tickets_purchased_qty   4474 non-null   int64
 12  trans_face_val_amt      4474 non-null   float64
 13  delivery_type_cd        4474 non-null   object
 14  onsale_dt               4474 non-null   datetime64[ns]
 15  timezn_nm               4474 non-null   object
 16  venue_city              4474 non-null   object
 17  venue_state             4474 non-null   object
 18  venue_postal_cd_sgmt_1  4474 non-null   object
 19  print_flg               4474 non-null   object
 20  la_valid_tkt_event_flg  4474 non-null   object
 21  fin_mkt_nm              4474 non-null   object
 22  web_session_cookie_val  4474 non-null   object
 23  Event Date_print_dt     4474 non-null   object
 24  Event Time              4474 non-null   object
 25  sales Creation Date     4474 non-null   object
 26  sales Creation Time     4474 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(24)
memory usage: 978.7+ KB

In [28]:
df.head()

,event_id,primary_act_id,secondary_act_id,purch_party_lkup_id,event_name,primary_act_name,major_cat_name,minor_cat_name,la_event_type_cat,event_disp_name,...,venue_state,venue_postal_cd_sgmt_1,print_flg,la_valid_tkt_event_flg,fin_mkt_nm,web_session_cookie_val,Event Date_print_dt,Event Time,sales Creation Date,sales Creation Time
0,abcaf1adb99a935fc661,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7dfa56dd7d5956b17587,Xfinity Center Mansfield Premier Parking: Flor...,XFINITY Center Mansfield Premier Parking,MISC,PARKING,PARKING,Xfinity Center Mansfield Premier Parking: Flor...,...,MASSACHUSETTS,2048,T,N,Boston,7dfa56dd7d5956b17587,2015-09-12,23:30:00,2015-09-11,18:17:45
1,6c56d7f08c95f2aa453c,1a3e9aecd0617706a794,f53529c5679ea6ca5a48,4f9e6fc637eaf7b736c2,Gorge Camping - dave matthews band - sept 3-7,Gorge Camping,MISC,CAMPING,INVALID,Gorge Camping - dave matthews band - sept 3-7,...,WASHINGTON,98848,T,N,Seattle,4f9e6fc637eaf7b736c2,2009-09-05,01:00:00,2009-07-06,00:00:00
2,c7ab4524a121f9d687d2,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c2545703bd527a7144d,Dodge Theatre Adams Street Parking - benise,Parking Event,MISC,PARKING,PARKING,Dodge Theatre Adams Street Parking - benise,...,ARIZONA,85003,T,N,Arizona,6c2545703bd527a7144d,2006-04-22,01:30:00,2006-04-05,00:00:00
3,394cb493f893be9b9ed1,b1ccea01ad6ef8522796,b85143bf51323b72e53c,527d6b1eaffc69ddd882,Gexa Energy Pavilion Vip Parking : kid rock wi...,Gexa Energy Pavilion VIP Parking,MISC,PARKING,PARKING,Gexa Energy Pavilion Vip Parking : kid rock wi...,...,TEXAS,75210,T,N,Dallas,527d6b1eaffc69ddd882,2011-09-03,00:00:00,2011-07-01,17:38:50
4,55b5f67e618557929f48,91c03a34b562436efa3c,b85143bf51323b72e53c,8bd62c394a35213bdf52,Premier Parking - motley crue,White River Amphitheatre Premier Parking,MISC,PARKING,PARKING,Premier Parking - motley crue,...,WASHINGTON,98092,T,N,Seattle,8bd62c394a35213bdf52,2005-07-31,01:00:00,2005-06-18,00:00:00

In [30]:
df.columns = [col.replace('_', '') for col in df.columns]

In [31]:
df.head()

,eventid,primaryactid,secondaryactid,purchpartylkupid,eventname,primaryactname,majorcatname,minorcatname,laeventtypecat,eventdispname,...,venuestate,venuepostalcdsgmt1,printflg,lavalidtkteventflg,finmktnm,websessioncookieval,Event Dateprintdt,Event Time,sales Creation Date,sales Creation Time
0,abcaf1adb99a935fc661,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7dfa56dd7d5956b17587,Xfinity Center Mansfield Premier Parking: Flor...,XFINITY Center Mansfield Premier Parking,MISC,PARKING,PARKING,Xfinity Center Mansfield Premier Parking: Flor...,...,MASSACHUSETTS,2048,T,N,Boston,7dfa56dd7d5956b17587,2015-09-12,23:30:00,2015-09-11,18:17:45
1,6c56d7f08c95f2aa453c,1a3e9aecd0617706a794,f53529c5679ea6ca5a48,4f9e6fc637eaf7b736c2,Gorge Camping - dave matthews band - sept 3-7,Gorge Camping,MISC,CAMPING,INVALID,Gorge Camping - dave matthews band - sept 3-7,...,WASHINGTON,98848,T,N,Seattle,4f9e6fc637eaf7b736c2,2009-09-05,01:00:00,2009-07-06,00:00:00
2,c7ab4524a121f9d687d2,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c2545703bd527a7144d,Dodge Theatre Adams Street Parking - benise,Parking Event,MISC,PARKING,PARKING,Dodge Theatre Adams Street Parking - benise,...,ARIZONA,85003,T,N,Arizona,6c2545703bd527a7144d,2006-04-22,01:30:00,2006-04-05,00:00:00
3,394cb493f893be9b9ed1,b1ccea01ad6ef8522796,b85143bf51323b72e53c,527d6b1eaffc69ddd882,Gexa Energy Pavilion Vip Parking : kid rock wi...,Gexa Energy Pavilion VIP Parking,MISC,PARKING,PARKING,Gexa Energy Pavilion Vip Parking : kid rock wi...,...,TEXAS,75210,T,N,Dallas,527d6b1eaffc69ddd882,2011-09-03,00:00:00,2011-07-01,17:38:50
4,55b5f67e618557929f48,91c03a34b562436efa3c,b85143bf51323b72e53c,8bd62c394a35213bdf52,Premier Parking - motley crue,White River Amphitheatre Premier Parking,MISC,PARKING,PARKING,Premier Parking - motley crue,...,WASHINGTON,98092,T,N,Seattle,8bd62c394a35213bdf52,2005-07-31,01:00:00,2005-06-18,00:00:00